.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 300px;
  margin-bottom: 20px;
  background-image: url("/trabalhofinal_di/images/controles.jpg");
  background-size: cover;
  background-position: center;
}

.hero h2 {
  background-color: rgba(4, 180, 250, 0.815);
  padding: 10px;
  border-radius: 8px;
  font-size: 2rem;
}

section {

  padding: 20px;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .hero h2 {
    font-size: 1.75rem;
  }

  .text-section h2 {
    font-size: 1.5rem;
  }

  .text-section p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .text-section {
    flex: 1 1 100%;
  }

  .image-section {
    flex: 1 1 100%;
    text-align: center;
    padding-left: 0;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .hero h2 {
    font-size: 1.5rem;
  }

  .text-section h2 {
    font-size: 1.25rem;
  }

  .text-section p {
    font-size: 0.875rem;
  }
}

.form-section {
  margin-top: 40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

label {
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  width: auto;
  margin: 0;
}

#check-box-label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.contato {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px hsl(121, 39%, 23%);
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contato:hover {
  background-color: #0d5310;
  transform: scale(1.1);
}

.fachada {
  align-items: center;
  justify-content: center;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: #4caf50;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4caf50;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.modal-content {
  border-radius: 8px;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}